

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.left-box {
    flex: 1;
    padding: 20px;
}

.left-box h1 {
    font-size: 48px;
    color: #4267B2;
    margin: 0;
}

.left-box p {
    font-size: 24px;
    color: #333;
}

.right-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#email input {
    width: 100%;
}

.field input[type="email"],
.field input[type="text"],
.field input[type="number"],
.field input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.field input[type="submit"].btn {
    width: 100%;
    background: #4267B2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn {
    width: 100%;
    background: #4267B2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.field input[type="submit"].btn:hover {
    background: #365899;
}

.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    color: #4267B2;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/** home **/
.nav {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}

.logo {
    font-size: 25px;
    font-weight: 900;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.right-links a {
    padding: 0 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main-box {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    width: 100%;
    margin-top: 20px;
}
